
.idea/.name
.idea/misc.xml
.idea/encodings.xml
.idea/Hello-World-Again.iml
.idea/modules.xml
_Tools/1.7.6.zip
_Tools/wiredesignz-codeigniter-modular-extensions-hmvc-d28d24e26397.zip
_Tools/firephp-1.0.0b1rc3.lib.zip
.idea/vcs.xml
_Tools/CodeIgniter_2.0.3.zip
.idea/workspace.xml
application/config/database.php
user_guide/*