/**
 * HTML5 ? Boilerplate
 *
 * style.css contains a reset, font normalization and some base styles.
 *
 * Credit is left where credit is due.
 * Much inspiration was taken from these projects:
 * - yui.yahooapis.com/2.8.1/build/base/base.css
 * - camendesign.com/design/
 * - praegnanz.de/weblog/htmlcssjs-kickstart
 */
 
 
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */
 
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
 
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
 
blockquote, q { quotes: none; }
 
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
 
ins { background-color: #ff9; color: #000; text-decoration: none; }
 
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
 
del { text-decoration: line-through; }
 
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
 
table { border-collapse: collapse; border-spacing: 0; }
 
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
 
input, select { vertical-align: middle; }
 
 
/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */
 
body { font:13px/1.231 sans-serif; *font-size:small; } /* Hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }
 
/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }
 
 
/**
 * Minimal base styles.
 */
 
/* Always force a scrollbar in non-IE */
html { overflow-y: scroll; }
 
/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }
 
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
 
/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
 
small { font-size: 85%; }
strong, th { font-weight: bold; }
 
td { vertical-align: top; }
 
/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
 
pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; white-space: pre-wrap; word-wrap: break-word;
  padding: 15px;
}
 
textarea { overflow: auto; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
 
.ie6 legend, .ie7 legend { margin-left: -7px; }
 
/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css ; */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
 
/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
 
/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }
 
/* Colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
   border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }
 
 
/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
 
/* j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; }
 
/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }
 
/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }
 
/**
 * You might tweak these..
 */
 
body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* Set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */
}
 
/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
 
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }
 
 
/**
 * Primary styles
 */
body {
	text-align: center;
	background: #f5f5f5;
}

.main-menu { margin-top: 10px }

.main-menu .wrapper,
.footer .wrapper,
.content .wrapper,
.copyright .wrapper {
	width: 1200px;
	margin: 0 auto;
	text-align: left;
}

.main-menu .wrapper,
.footer .wrapper {
	width: 1000px;
}

.main-menu ul,
.bottom-menu ul { margin: 0; padding: 0 }

.main-menu ul li,
.bottom-menu ul li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left
}

.main-menu ul li a {
	font-family: verdana,tahoma,sans-serif;
	font-size: 13px;
	text-decoration: none;
}

.main-menu ul li.active a { font-weight: bold }

.main-menu ul li { margin: 0 15px 0 0 }

.bottom-menu ul li { margin: 0 20px 0 0 }

.bottom-menu ul li a {
	font-family: verdana, tahoma, sans-serif;
	font-size: 11px;
	text-decoration: none;
	text-transform: lowercase;
}

.footer {
	position: relative;
	padding-top: 22px;
}

.copyright p {
	text-align: right;
	color: #666;
	font-size: 11px;
}

.container { position: relative }

.content { padding: 20px 0 40px 0 }

.main-menu ul li a:hover,
.bottom-menu ul li a:hover { color: #333 }

/** USER-MENU
---------------------*/
.user-menu {
	position: absolute;
	top: 10px;
	right: 10px;
}

.user-menu ul {
	margin: 0;
	list-style: none;
	padding: 5px;
}

.user-menu ul ul { background: #fff }

.user-menu ul li a { display: block }

.user-menu ul li:hover ul { display: block }

.user-menu ul li ul { display: none }

.user-menu ul li { text-align: right }

/** SHEETS
   ==============================*/
#sheets {
	list-style: none;
	margin: 0;
}

#sheets li { margin: 10px 0 0 0 }

#sheets li label {
	color: blue;
	font-weight: bold;
	font-style: italic;
}

.sheet-info {
	border-left: 1px solid #666666;
	margin: 10px 10px 10px 30px;
	padding: 5px;
}

.sheet-info .sheet-cols-values td { padding: 5px }

.sheet-info .data-template { float: right }

/** tables */
table.desc {
	border: 1px solid #999;
	padding: 3px;
	background: #FFF;
}

table.desc tr { height: 25px }

table.desc td {
	padding: 3px;
	vertical-align: baseline;
}

table.desc td.label {
	padding-right: 15px;
	font-weight: bold;
}

table.desc select { min-width: 150px }

/** HELPERS
   ==============================*/
#message {
	background: #FFF;
	border: 1px solid #F97272;
	border-radius: 5px;
	box-shadow: 0 0 5px #FC9999;
	padding: 8px 30px 10px 10px;
	position: fixed;
	right: 10px;
	top: 40px;
	width: 250px;
	z-index: 100;
	display: none;
}

#loading {
	position: fixed;
	top: 5px;
	left: 5px;
	display: none;
}

.loading #loading { display: block }

#splash {
	position: fixed;
	top: 0;
	left: 0;
	background: #AAA;
	z-index: 9;
	display: none;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70) !important;
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}

#popup {
	position: fixed;
	top: 50px;
	left: 100px;
	background: #FFF;
	display: none;
	z-index: 10;
	padding: 30px 20px 10px;
	border-radius: 2px;
	box-shadow: 0 0 3px #333;
	border: solid 3px #666;
}

#popup-content {
	min-width: 200px;
	min-height: 100px;
}

#popup-content .buttons {
	text-align: right;
	padding-top: 10px;
	margin-top: 10px;
	border-top: solid 1px #AAA;
}

#message .close, #popup .close {
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
}
 
#noscript-warning {
	background-color: #AE0000;
	color: #FFFFFF;
	font-family: sans-serif;
	font-size: 120%;
	font-weight: bold;
	left: 0;
	padding: 5px 0;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 101;
}

.validaton-error {
	color: red;
	font-style: italic;
	font-size: 12px;
	display: none;
}

.validaton-error-field { background-color: #FFDBDB }

.additional-detailes{
	border-top: 1px solid #999999;
	margin-top: 50px;
	padding-top: 20px;
}

.additional-detailes ul{
	list-style-type: circle;
	margin: 0 10px;
}

.additional-detailes ul li{
	color: #FF4444;
	font-weight: bold;
	padding: 0;
	margin-bottom: 5px;
}
 
 
/**
 * Non-semantic helper classes: please define your styles before this section.
 */
 
/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
 
/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }
 
/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/ ; &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
 
/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }
 
/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }

.w50 { width: 50px }

/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

/*list
==============================*/
#pages .b{ font-weight: bold }

#vendors-list, #regions-list, #pages-list  {
	background: #FFF;
	border: 1px solid #DDD;
	border-radius: 2px;
	box-shadow: 0 0 3px #999;
	margin-top: 5px;
}
#vendors-list ul, #regions-list ul, #pages-list ul { padding: 0; margin: 0.2em 0 }
#vendors > span, #regions > span, #pages a{
	font-size: 12px;
	color: #000;
	text-decoration: none;
	display: block;
	line-height: 16px;
}
#vendors li:hover, #regions li:hover, #pages a:hover  { background: #FFFFA3 }
#vendors a.selected, #regions a.selected  { font-weight: bold }
#vendors li, #regions li, #pages li { list-style-type: none; clear: both; }
#vendors li > span, #regions li > span, #pages a   { padding-left: 5px }
#vendors .ui-icon, #regions .ui-icon { cursor: pointer }
#vendors form, #regions form { display: inline }
#vendors .ui-icon, #regions .ui-icon  {
	display: block;
	float: left;
	margin-right: 5px;
}
#selected-item-info {
	background: #FFF;
	padding:  5px;
	border: 1px solid #DDD;
	min-height: 150px;
}

.item-info h1 {
	font-size: 16px;
	margin: 0 0 5px 0;
}

.item-info .label {
	color: #000;
	font-size: 12px;
}

.item-info .value {
	font-size: 14px;
	font-weight: bold;
}

.item-info .data { width: 100% }

.item-info tr.border {
	border-top: 1px solid #999;
	margin-top: 5px;
}

.item-info .was-used {
	border-radius: 2px;
	background: #FFFFA3;
	color: red;
	font-size: 12px;
}
.ui-icon, .top-icons .ui-icon, .bottom-icons .ui-icon {
	display: inline-block;
	cursor: pointer;
}
.icon-container:hover .ui-icon { background-image: url(../images/icons/ui-active.png); }
.tar { text-align: right }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.fl { float: left }
.fr{ float: right }
.ui-icon { width: 16px; height: 16px; background-image: url(../images/icons/ui-default.png); }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-arrowbold-e { background-position: -32px -48px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-extlink { background-position: -32px -80px; }

/* editor form */
.editor-form{
	border: 1px solid #BBB;
	padding: 15px 4px;
	background: #EEE;
	color: #203360;
	font-family: Tahoma, Verdana, sans-serif;
}
.editor-form input, .editor-form textarea, .editor-form select{
	border: 1px solid #BBB;
	padding: 3px;
	margin-top: 2px;
}
.editor-form textarea.text {
	width: 100%;
	margin-left:-1px
}
.editor-form table{
	width: 100%;
	border-collapse: separate;
}

.editor-form .label{
	text-align: right;
	vertical-align: middle;
	width: 150px;
}
.editor-form .label2{
	text-align: right;
	vertical-align: middle;
	width: 205px;
}
.editor-form .l{
	text-align: left;
	width: 160px;
}

.editor-form select, .editor-form textarea{ padding: 0 }

/** import */
.demo-data {
	padding: 10px;
	background: #FFFFFF;
	border: 1px solid #EEE;
}

.demo-data table { font-size: 11px }

.demo-data table td {
	border: 1px solid #999;
	padding: 3px;
	margin: 2px;
}

.slide-content { display: none }

.no-data { color: #333; font-style: italic; }

/** import third page */
.sheet-import-data {
	background: #FFF;
	padding: 10px;
	margin-bottom: 10px;
}

.sheet-import-data h2 { color: blue }

.sheet-import-data table td, .sheet-import-data table th {
	border: 1px solid #FFF;
	vertical-align: baseline;
	padding: 2px;
	vertical-align: baseline;
}

.sheet-import-data table tbody tr:hover { background: #ffffdd }

.sheet-import-data table th { background: #ffffcc }

.sheet-import-data td.check { width: 20px; text-align: center; }
.sheet-import-data td.cct_ref, .sheet-import-data td.cct_ref input { width: 50px }
.sheet-import-data td.regions, .sheet-import-data td.regions input,
.sheet-import-data td.num, .sheet-import-data td.num input { width: 30px }
.sheet-import-data td.code, .sheet-import-data td.code input { width: 75px }
.sheet-import-data td.name, .sheet-import-data td.name input { width: 300px }
.sheet-import-data td.comment, .sheet-import-data td.comment input { width: 150px }
.sheet-import-data td.price_hrn, .sheet-import-data td.price_eur,
.sheet-import-data td.price_hrn input, .sheet-import-data td.price_eur input { width: 50px }

.sheet-import-data table tr {
	border-left: 1px solid green;
	border-right: 1px solid green;
}

.sheet-import-data table tr.current {
	background: #FEEBC7;
	color: #666666;
	font-size: 11px;
}

.sheet-import-data table tr.current { color: #666 }

.sheet-import-data table tr.current .changed {
	font-weight: bold;
	color: red;
}

.sheet-import-data table tr.current .not_changed { color: green }

.sheet-import-data table tr.even { background: #E0E0E0 }

.sheet-import-data table tr.odd { background: #EFEFEF }

.sheet-import-data .sheet-data-info {
	font-style: italic;
	color: #555;
}

.sheet-import-data .pages {
	float: left;
	margin: 0;
	padding: 0;
	text-align: center;
}

.sheet-import-data .pages li {
	list-style-type: none;
	float: left;
	width: 20px;
	margin: 5px 5px 5px 0;
	border: 1px solid #DDDDDD;
}

.sheet-import-data .pages li a.active {
	font-weight: bold;
	color: #444;
	text-decoration: none;
}

/** parts to be removed */
.to-remove {
	border:  2px solid #FF7C7C;
	padding: 5px;
}
.to-remove table tr.even { background: #E0E0E0 }
.to-remove table tr.odd { background: #EFEFEF }
.to-remove h3 { margin-bottom: 10px }
.to-remove table td, .to-remove table th {
	border: 2px solid #FFF;
	padding: 2px;
	vertical-align: baseline;
}

.to-remove table tbody tr:hover { background: #ffffdd }
.to-remove table th { background: #ffffcc }


/** changes highlighting */
.current-data {
	background-color: #DBFFDE;
	color: #000000;
	display: inline-block;
	font-weight: normal;
	padding: 2px 5px;
}
.current-data.to-change { background-color: #9BA5FF }

/** settings */
.settings td.title {
	padding-right: 15px;
	width: 150px;
}

.settings td.controls {
	padding-top: 15px;
	text-align: right;
}

/** parts */
.parts-navigation { }

.parts-navigation h3.title { margin-bottom: 10px }

.parts-navigation .vendors-list {
	width: 200px;
	float: left;
	border-right: 1px solid #DDD;
}

.parts-navigation .vendors-list ul { margin: 0 }

.parts-navigation .vendors-list li { cursor: pointer }
.parts-navigation .vendors-list li.active {
	font-weight: bold;
	color: red
}

.parts-navigation .models-list { margin-left: 220px }
.parts-navigation .models-list ul { margin: 0 }
.parts-navigation .models-list li {
	cursor: pointer;
	list-style: none;
	width: 150px;
	float: left;
	padding: 2px 5px;
}
.parts-navigation .models-list li:hover { background: #FFFFA3 }
.parts-navigation .models-list li.active {
	font-weight: bold;
	color: red
}

.parts-navigation .parts-table {
	margin-top: 10px;
	border-top:  1px solid #DDD;
	padding-top: 5px;
}
.parts-navigation .parts-table table { width: 100% }
.parts-navigation .parts-table table th, .parts-navigation .parts-table table td {
	padding: 2px 3px;
	vertical-align: baseline;
	border: 1px solid #E0E0E0;
}

.parts-navigation .controls {
	border-top: 1px solid #DDDDDD;
	margin-top: 10px;
	padding-top: 5px;
}

.parts-navigation .parts-table table th.check { width: 20px }
.parts-navigation .parts-table table th.vendor { width: 70px }
.parts-navigation .parts-table table th.model { width: 50px }
.parts-navigation .parts-table table th.cct_ref { width: 100px }
.parts-navigation .parts-table table th.code { width: 70px }
.parts-navigation .parts-table table th.name { }
.parts-navigation .parts-table table th.num { width: 30px }
.parts-navigation .parts-table table th.price { width: 50px }
.parts-navigation .parts-table table th.ptype { width: 100px }

/** imports list */
.available-imports {
	padding: 10px;
	border: 1px solid #DDD;
	float: right;
}

.available-imports h3 { margin-bottom: 10px }

.available-imports ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.available-imports li { padding: 0 }

/* search fields */
.select-and-input {
	height: 30px;
	width: 320px;
	margin: 0 7px 7px 7px;
	display: inline-block;
}
.select-and-input div.search_field input.text {
	z-index: 0;
	left: 0;
	height: 20px;
	padding: 0;
	width: 282px;
	border:solid 1px #848388;
	background-color: white;
	float: left;
}
.select-and-input div.search_code, .select-and-input div.search_model, .select-and-input div.search_name{
	margin-top: 7px;
}
.select-and-input div.search_field input.submit, .select-and-input div.search_field div.button {
	width: 13px;
	opacity: 0;
	position: relative;
}
.select-and-input div.search_field div.button{
	background: url(../images/icons/ui-default.png) no-repeat -160px -109px;
	width:15px;
	height:20px;
	opacity: 1;
}
.select-and-input div.search_code input.submit, .select-and-input div.search_model input.submit, .select-and-input div.search_name input.submit{
	display: inline-block;
	float: left;
}
.select-and-input div.search_code div.button, .select-and-input div.search_model div.button, .select-and-input div.search_name div.button {
	left: -13px;
	display: inline-block;
}