/**
 * HTML5 ? Boilerplate
 *
 * style.css contains a reset, font normalization and some base styles.
 *
 * Credit is left where credit is due.
 * Much inspiration was taken from these projects:
 * - yui.yahooapis.com/2.8.1/build/base/base.css
 * - camendesign.com/design/
 * - praegnanz.de/weblog/htmlcssjs-kickstart
 */
 
 
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */
 
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
 
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
 
blockquote, q { quotes: none; }
 
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
 
ins { background-color: #ff9; color: #000; text-decoration: none; }
 
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
 
del { text-decoration: line-through; }
 
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
 
table { border-collapse: collapse; border-spacing: 0; }
 
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
 
input, select { vertical-align: middle; }
 
 
/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */
 
body { font:13px/1.231 sans-serif; *font-size:small; } /* Hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }
 
/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }
 
 
/**
 * Minimal base styles.
 */
 
/* Always force a scrollbar in non-IE */
html { overflow-y: scroll; }
 
/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }
 
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
 
/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
 
small { font-size: 85%; }
strong, th { font-weight: bold; }
 
td { vertical-align: top; }
 
/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
 
pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; white-space: pre-wrap; word-wrap: break-word;
  padding: 15px;
}
 
textarea { overflow: auto; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
 
.ie6 legend, .ie7 legend { margin-left: -7px; }
 
/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css ; */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
 
/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
 
/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }
 
/* Colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
   border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }
 
 
/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
 
/* j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; }
 
/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }
 
/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }
 
/**
 * You might tweak these..
 */
 
body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* Set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */
}
 
/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
 
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }
 
 
/**
 * Primary styles
 */
body {
	text-align: center;
	background: #f5f5f5;
}

.header { }

.main-menu { }

.main-menu .wrapper,
.footer .wrapper,
.content .wrapper,
.copyright .wrapper {
	width: 1000px;
	margin: 0 auto;
	text-align: left;
}

.main-menu .wrapper,
.footer .wrapper {
	width: 1000px;
}

.main-menu ul,
.bottom-menu ul { margin: 0; padding: 0 }

.main-menu ul li,
.bottom-menu ul li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left
}

.main-menu ul li a {
	font-family: verdana,tahoma,sans-serif;
	font-size: 13px;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 31px;
}

.main-menu ul li {
	margin: 0 50px 0 0;
	font-size: 16px
}

.bottom-menu ul li {
	margin: 0 20px 0 0
}

.bottom-menu ul li a {
	font-family: verdana, tahoma, sans-serif;
	font-size: 11px;
	text-decoration: none;
	text-transform: lowercase;
}

.footer {
	position: relative;
	padding-top: 22px;
}

.footer .wrapper {

}

.copyright p {
	text-align: right;
	color: #666;
	font-size: 11px;
}

.container {
	position: relative;
	min-width: 1000px;
	max-width: 1500px;
}

.content {
	padding-bottom: 40px;
}

.main-menu ul li a:hover,
.bottom-menu ul li a:hover {
	color: #333;
}

/** parts page */

.cabinet, .solder {
	clear: both;
}

.models-menu {
	float: left;
	width: 200px;
}

.models-menu ul {
	list-style: none;
	margin: 0;
}

.models-menu li li {
	padding-left: 10px;
}

.parts-content {
	margin-left:200px;
}

/** USER-MENU
---------------------*/
.user-menu {
	position: absolute;
	top: 10px;
	right: 10px;
}

.user-menu ul {
	margin: 0;
	list-style: none;
	padding: 5px;
}

.user-menu ul ul {
	background: #fff;
}

.user-menu ul li a {
	display: block;
}

.user-menu ul li:hover ul {
	display: block;
}

.user-menu ul li ul {
	display: none;
}

.user-menu ul li {
	text-align: right;
}


 
 
 
#noscript-warning {
	background-color: #AE0000;
	color: #FFFFFF;
	font-family: sans-serif;
	font-size: 120%;
	font-weight: bold;
	left: 0;
	padding: 5px 0;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 101;
}

.full-transparent {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
}

 
 
/**
 * Non-semantic helper classes: please define your styles before this section.
 */
 
/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
 
/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }
 
/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/ ; &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
 
/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }
 
/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; clear: both; }
 
 
 
/**
 * Media queries for responsive design.
 *
 * These follow after primary styles so they will successfully override.
 */
 
@media all and (orientation:portrait) {
  /* Style adjustments for portrait mode goes here */
 
}
 
@media all and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here */
 
}
 
/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
 
 
  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust */
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}
 
 
/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
/*Table parts*/
table.sofT{
	text-align: center;
	font-family: Verdana, sans-serif;
	font-weight: normal;
	font-size: 11px;
	color: #404040;
	width: 580px;
	background-color: #fafafa;
	border: 1px #6699CC solid;
	border-collapse: collapse;
	border-spacing: 0;
	clear: both;
}
table.sofT td.helpHed{
	border-left: 1px solid #6699CC;
	background-color: #BEC8D1;
	text-align: left;
	text-indent: 5px;
	font-family: Verdana, sans-serif;
	font-weight: bold;
	font-size: 11px;
	color: #404040;
}
table.sofT td{
	border-bottom: 1px solid #6699CC;
	border-top: none;
	border-left: 1px solid #6699CC;
	border-right: none;
	text-align: left;
	padding: 5px;
}
table.sofT td.r-border{
border-right: 1px solid #69C;
}

#parts{ margin: 15px 0 }
#parts span{
	cursor: pointer;
	padding: 5px;
	margin: 5px 10px 5px 0;
	border: 1px solid #6699CC;
	color: #404040;
	font-family: Verdana, sans-serif;
	font-weight: bold;
}
#parts span.selected{
	background-color: #FCC;
}
.select-and-input {
	position: relative;
	height: 83px;
	width: 100px;
	float: left;
}
.select-and-input span {
	position: absolute;
	z-index: 1;
	top: 6px;
	left: 177px;
	height: 20px;
	width: 105px;
	background: url(../images/icons/select.png) no-repeat 89px 3px;
	cursor: pointer;
	padding: 2px 0 0 3px;
}
.select-and-input ul {
	position: absolute;
	background: #fff;
	border: solid 1px #848388;
	z-index: 1;
	top: 27px;
	left: 178px;
	height: 54px;
	width: 104px;
	list-style: none;
	padding: 0px;
	cursor: pointer;
	display: none;
}
.select-and-input ul li{
	font-size: 100%;
	float: none;
	margin: 0px;
	padding: 1px;
	background-color: white;
}
.select-and-input ul li:hover{
	background-color: #E6EEEE;
}

/*search field*/
.select-and-input div.search_field input.text {
	position: absolute;
	z-index: 0;
	left: 0;
	height: 20px;
	padding: 0;
	width: 282px;
	border:solid 1px #848388;
	background-color: white;
}

.select-and-input div.search_field input.submit, .select-and-input div.search_field div.button {
	position: absolute;
	left: 287px;
	top: 4px;
	width: 13px;
	opacity: 0;
}
.select-and-input div.search_field div.button{
	background: url(../images/icons/ui-default.png) no-repeat 1px 5px;
	background-position: -160px -109px;
	width:15px;
	height:20px;
	opacity: 1;
}

/*search code*/
.select-and-input div.search_code input.text {
	top: 5px;
}
.select-and-input div.search_code input.submit, .select-and-input div.search_code div.button {
	top: 4px;
}

/*search model*/
.select-and-input div.search_model input.text {
	top: 35px;
}
.select-and-input div.search_model input.submit, .select-and-input div.search_model div.button {
	top: 34px;
}

/*search name*/
.select-and-input div.search_name input.text {
	top: 65px;
}
.select-and-input div.search_name input.submit, .select-and-input div.search_name div.button {
	top: 64px;
}

table.separate{
	border-collapse: separate;
	border-spacing: 1px;
}